{% extends 'base.html.twig' %}

{% block title %}
  Films
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/filmstyle.css') }}" />
{% endblock %}

{% block body %}
  <main class="mainclass">
    <div class="row">
      <div class="col">
        <h1 class="text-white pt-5">Liste des Films</h1>
        <p class="text-light fs-5 pb-4">Gerer votre collection de Film</p>
      </div>

      <div class="col">
        <section></section>
      </div>
    </div>

    <div class="row">
      <div class="col-9 pl-2">
        <nav class="navbar">
          <div class="container-fluid pb-4">
            <form class="d-flex" role="search">
              <input class="form-control me-2 text-black rounded-pill" type="search" placeholder="ðŸ” Rechercher un film..." aria-label="Search" />
              <button class="btn btn-primary btn-lg my-5 text-black rounded-pill" type="submit">Chercher</button>
            </form>
          </div>
        </nav>
      </div>
      <div class="col-3">
        <a href="{{ path('app_film_new') }}"><button class="btn btn-primary btn-lg text-black rounded-pill">Ajouter un film</button></a>
      </div>
    </div>

    <div class="row">
      {% for flm in films %}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img src="{{ asset('assets/img/' ~ flm.img) }}" class="card-img-top" alt="affiche du film" />
            <div class="card-body">
              <h5 class="card-title">{{ flm.titre }}</h5>
              <p class="card-text">{{ flm.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <p class="fs-5">Pricipaux acteurs</p>

              {% for act in flm.acteurs %}
                <li class="list-group-item">{{ act }}</li>
              {% endfor %}
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>

  <footer></footer>
{% endblock %}
