{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Acteurs du film</th> <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# une bloucle pour afficher tout les films #}
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                
       
                <td>
                    {# on verie que le film a une categorie #}
                    {{ film.categorie ? film.categorie.no : '' }}
                </td>

  
                <td>
                    {# On vérifie si la liste des acteurs n'est pas vide #}
                    {% if film.acteurs is not empty %}
                        {# On utilise "join" pour afficher les noms séparés par une virgule #}
                        {{ film.acteurs|join(', ') }}
                    {% else %}
                        Aucun acteur
                    {% endif %}
                </td>

                <td>
                    <a href="{{ path('app_film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_film_new') }}">Create new</a>
{% endblock %}