{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>

            <tr>
                <th> Acteurs du film </th>
                {% for act in film.acteurs %}
                {#<td>{{ act|join(', ') }}</td>#}
                <td>{{ act~","}}</td>
                {% else %}
                 <td> aucun acteur pour ce film </td>

                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_film_index') }}">back to list</a>

    <a href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>

    {{ include('film/_delete_form.html.twig') }}

{% endblock %}
